
div{font-family: 'Open Sans', sans-serif;
}


.opaco{
  width: 50%;
  height: 700px;
  background: rgba(0,0,0,0.7);
  margin: auto;
  color: white;
  text-align: center;
}

.leftcontainer{
  padding-left:10%;
  padding-right: 10%;
  text-align: left;
}
.container{
  width:100%;
  height:100%;
  background-image: url("immagini/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.greenline{
  background-color: green;
}

#logo{
  width:30%;
}

.charge{
  height: 15px;
}
.orange{
  background-color: orange;
  width:30%;
}
.red{
  background-color: red;
  width:10%;
}
.green{
  background-color: green;
  width:100%;
}
