
*{
  font-family: 'Open Sans', sans-serif;
}

body{
  background-image: url("immagini/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 53%;
  height: 650px;
  background: rgba(0,0,0,0.5);
  margin: auto;
  color: white;
  text-align: center;
  border-radius: 20px;
  border-top: 10%;
  padding:100px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 25px;
  margin-bottom: 150px;
}

h1{
  color: #00dd00;
  margin-bottom: 2px;
  font-weight: 900;
}

.leftcontainer{
  text-align: left;
  padding-top: 20px;
}

.greenline{
  background-color: #00dd00;
  width: 100%;
  height: 35px;
  text-align: center;
}

.nav{
  padding-top: 5px;
}

#logo{
  width:30%;
  padding-top: 5%;
}

.charge{
  height: 25px;
  border-radius: 5px;
}

.green{
  background-color: #00dd00;
  width:60%;
}
.orange{
  background-color: orange;
  width:35%;
}
.red{
  background-color: red;
  width:15%;
}

.sezioni{
  line-height: 0.35em;
  padding-top: 10px;
}

.inlineclass{
  display: inline;
}
